{% load sekizai_tags %}
<div id="controller_sidebar" class="sticky-top float-md-right open">
    <span id="controller_sidebar_expander_box" class=""><div id="controller_sidebar_expander"> <<  </div></span>
    <span id="controller_sidebar_content" class="open">
    </span>
</div>

{% addtoblock "jss" %}
<script>
    $('#controller_sidebar_expander').click(
        function () {
            $('#controller_sidebar').toggleClass('open');
            $('#controller_sidebar_content').toggleClass('open');
        }
    )
</script>
{% endaddtoblock %}
<style>
    #controller_sidebar{
        background-color: aliceblue;
        max-width: 300px;
        -webkit-transition: width 1s ease;
        -moz-transition: width 1s ease;
        -o-transition: width 1s ease;
        transition: width 1s ease;
        width: 10px;
        margin-left: 30px;
        min-height: 100px;
    }
    #controller_sidebar.open{
        width: 300px;
    }
    #controller_sidebar_expander_box{
        background-color: aqua;
        margin-left: -30px;
        position: absolute;
    }
    #controller_sidebar_content{
        width: 100%;
        opacity: 0;
        -webkit-transition: opacity 1s linear, visibility 0s;
        -moz-transition: opacity 1s linear, visibility 0s;
        -o-transition: opacity 1s linear, visibility 0s;
        transition: opacity 1s linear, visibility 0s;
    }
    #controller_sidebar_content.open{
        display: block;
        visibility: visible;
        opacity: 1;
        -webkit-transition: opacity 1s linear, visibility 1s;
        -moz-transition: opacity 1s linear, visibility 1s;
        -o-transition: opacity 1s linear, visibility 1s;
        transition: opacity 1s linear, visibility 1s;
    }
    #demo {
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
        background: yellow;
        vertical-align: middle;
        line-height: 30px;
        height: 30px;

        width: 0px;
    }
    #demo.in {
        width: 220px;
    }
</style>